# This is the mamba RC file copied into every user directory
# to allow users to have access to shared conda environments
pkgs_dirs:
  - $HOME/conda/pkgs
  - $HOME/mamba/pkgs
  - $HOME/miniconda/pkgs
  - $HOME/micromamba/pkgs
  - /opt/shared_micromamba/pkgs
envs_dirs:
  - $HOME/conda/envs
  - $HOME/mamba/envs
  - $HOME/miniconda/envs
  - $HOME/micromamba/envs
  - /opt/shared_micromamba/envs
auto_activate_base: false
