[Unit]
Description=Jupyterhub Docker Service
After=network.target
Wants=proxy-tunnel.service docker_limit.slice  ## weak dependency, jupyter still starts if proxy or docker limitter fails

[Service]
Environment="PATH=/opt/jupyterhub/jupyterhub-pharma253/venv_jupyter_metrics/bin:%h/.local/bin:%h/bin:%h/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/opt/jupyterhub/jupyterhub-pharma253/venv_jupyter_metrics/bin/jupyterhub --config="/opt/jupyterhub/jupyterhub-pharma253/jupyterhub_config.py"
WorkingDirectory=/opt/jupyterhub/jupyterhub-pharma253
Restart=on-failure
RestartSec=60
User=root
KillMode=process

[Install]
WantedBy=multi-user.target