{% extends "templates/login.html" %}

{% block login %}

<link rel="stylesheet" href="static/our_css/login.css" />

<div id="new_header" >
  <span class="spacer">&nbsp;</span>
  <span class="main_title">
    <p>
      Institute of Experimental and Clinical Pharmacology and
      Toxicology
    </p>
  </span>
  <span class="spacer">&nbsp;</span>
</div>

<!-- uni freiburg images -->
<a id="logo_long" href="https://uni-freiburg.de/" >
  <img src="static/our_images/20221107-UFR-logo-blue-rgb-344A9A.svg" />
</a>
<img id="logo_sigil" src="static/our_images/Albert-Ludwigs-Universität_Freiburg_2009_logo.svg" />

<div class='container branding'>
  <div class="center_this" >
    <a href="https://www.pharmakologie.uni-freiburg.de/en/ii">Department II</a>
  </div>
  <img src="static/our_images/otto_krayer_haus.jpg" />
  <div class="center_this" >
    <div class="people" >
      <a href="https://arnold-lab.com/people-new">AG Arnold</a>
      <a href="https://cardiovascularpharmacology.org/people/">AG Lother</a>
      <a href="https://www.preissllab.org/team-1">AG Preissl</a>
    </div>
  </div>

</div>

{{ super() }}


{% endblock %}
