{% extends "templates/spawn.html" %}
{% block main %}
<meta content="utf-8" http-equiv="encoding">

<link rel="stylesheet" href="static/our_css/libraries/choices.min.css" />
<link rel="stylesheet" href="static/our_css/charts.css" />

{{ super() }}

<div id="dropdowntools">
  <div id="dropdown_summary" ></div>
  <select id="dropdown_menu" label="Check Tool Specs" multiple="true" ></select>
</div>


<input type="checkbox" id="toggle_plotgraph" class="collapsible">
<label for="collapse1">View Current Resources</label>
<div class="content">
  <div id="plotgraph" >
    <div id="plotcont" >
      <div id="cpu"></div><div id="ram"></div>
    </div>
    <div id="users_container">
      <select id="active_users" label="Show Users" multiple="true" ></select>
      <label class="chart_switch" >
        <input id="pause_button" type="checkbox" checked="true" ></input>
        <span class="chart_slider"></span>
      </label>
    </div>
    <div id="highlighted_user"></div>
  </div> 
</div>



{% endblock %}

{% block script %}

<script type="module" >
  import "./static/our_js/libraries/choices.min.js";
  import { Charts } from "./static/our_js/charts.js";
  import { Reqs } from "./static/our_js/requirements.js";

  fetch("./static/our_js/tool_list.json")
    .then(response => response.json())
    .then(json => {
        Reqs.init(json)
    })

  Charts.init()
  
</script>


{{ super() }}

{% endblock %}
