<!-- {% extends "templates/spawn.html" %} -->
<!-- {% block main %} -->

<!-- {{ super() }} -->
<link rel="stylesheet" href="static/our_css/libraries/choices.min.css" />
<link rel="stylesheet" href="static/our_css/libraries/selectr.min.css" />
<link rel="stylesheet" href="static/our_css/charts.css" />

<div id="dropdowntools">
  <div id="dropdown_summary" ></div>
  <select id="dropdown_menu" label="Check Tool Specs" multiple="true" ></select>
</div>

<div id="plotgraph" >
  <div id="plotcont" >
    <div id="cpu"></div><div id="ram"></div>
  </div>
  <div id="users_container">
    <select id="active_users" label="Show Users" multiple="true" ></select>
  </div>
  <div id="highlighted_user"></div>
</div>

<!-- {% endblock %} -->

<!-- {% block script %} -->
<script src="static/our_js/libraries/choices.min.js" ></script>
<script src="static/our_js/libraries/d3.v7.min.js" ></script>
<script src="static/our_js/libraries/selectr.min.js" ></script>
<script src="static/our_js/charts.js" ></script>
<script src="static/our_js/requirements.js" ></script>
<script src="static/our_js/tools.json" ></script>

<script type="text/javascript" >

  window.onload = function(){      
      Charts.init()
      Reqs.init()
  }

</script>

<!-- {{ super() }} -->
<!-- {% endblock %} -->

</html>